<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">
        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h2 class="title">DESCRIPCIÓN GENERAL DE LA COMPAÑÍA</h2>
                <p>
                    Somos una empresa dedicada al desarrollo de software e infraestructura informática, donde combinamos
                    los dos mundos para satisfacer las necesidades de nuestros cientes, brindando soluciones innovadoras
                    para medianas y grandes empresas, tanto en el sector público como privado.
                </p>
                <p>
                    Nos dedicamos a entender la necesidad del cliente para resolver obstáculos y desafíos en tiempo y 
                    forma. Somos un equipo joven con experiencia en el ámbito informático, orientado a crecer y dinamizar
                    los requerimientos del negocio.
                </p>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-line-chart"></i></div>
                    <h4 class="title"><a href="">DESARROLLO EMPRESARIAL</a></h4>
                    <p class="description">Ayudamos a las empresas a crear aplicaciones comerciales sofosticadas.</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-chrome"></i></div>
                    <h4 class="title"><a href="">DESARROLLO WEB</a></h4>
                    <p class="description">Diseño y ddesarrollo web</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-mobile"></i></div>
                    <h4 class="title"><a href="">DESARROLLO MÓVIL</a></h4>
                    <p class="description">Desarrollo iOS, Android y Windows Movile</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
                    <h4 class="title"><a href="">PRUEBAS Y CONTROL DE CALIDAD</a></h4>
                    <p class="description">Pruebas ágiles de software, automatización de pruebas, 
                        pruebas de rendimiento y más</p>
                </div>
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-pencil"></i></div>
                    <h4 class="title"><a href="">DISEÑO UX / UI</a></h4>
                    <p class="description">Experiencia de usuario, diseño y desarrollo de interfaces de usuario</p>
                </div>
            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

    </div>
</section><!-- #about -->

<!-- ==========================
Facts Section
============================-->
<section id="facts">
    <div class="container wow fadeIn">
        <div class="section-header">
            <h3 class="section-title section-title1">Experiencia</h3>
            <p class="section-description section-description1">La experiencia es muy importante para nosotros</p>
        </div>
        <div class="row counters">

            <div class="col-lg-4 col-12 text-center">
                <div class="c-counter c-border-blue1">
                    <span data-toggle="counter-up">10</span>
                </div>
                <p>AÑOS DE EXPERIENCIA</p>
                <p>Ayudar a las empresas tecnológicas a hacer crecer sus equipos y capacidades de desarrollo de software.</p>
            </div>

            <div class="col-lg-4 col-12 text-center">
                <div class="c-counter c-border-blue2">
                    <span data-toggle="counter-up">20</span>
                </div>  
                <p>INGENIEROS</p>
                <p>El talento de Ingeniería más inteligente que América Latina tiene para ofrecer</p>
            </div>

            <div class="col-lg-4 col-12 text-center">
                <div class="c-counter c-border-blue3">
                    <span data-toggle="counter-up">32</span>
                </div>
                <p>PROYECTOS EXITOSOS</p>
                <p>Web, Escritorio, BI, Big Data, Juegos, IoT y más ...</p>
            </div>

        </div>

    </div>
</section><!-- #facts -->