<!--==========================
      Services Section
    ============================-->
<section id="services">
    <div class="container wow fadeIn">
        <div class="section-header">
            <h3 class="section-title section-title2">Servicios</h3>
            <p class="section-description section-description2">Somos un equipo joven con experiencia en el ámbito informático, orientado
                a crecer y dinamizar los requerimientos de su negocio.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-sitemap"></i></a></div>
                    <h4 class="title"><a href="">Infraestructura</a></h4>
                    <p class="description">Nivel 1, 2 y 3 tanto en sistemas Microsoft como en Linux</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-cloud"></i></a></div>
                    <h4 class="title"><a href="">Nube</a></h4>
                    <p class="description">Implementación o migración de servicios em la nube</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-tasks"></i></a></div>
                    <h4 class="title"><a href="">Soporte</a></h4>
                    <p class="description">Modalidades Outsourcing o contrato a demanda con un pauete de horas.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                    <h4 class="title"><a href="">Consultoría</a></h4>
                    <p class="description">Asesoramiento en etapas de decisiones importantes sobre proyectos futuros.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-code"></i></a></div>
                    <h4 class="title"><a href="">Desarrollo de Software</a></h4>
                    <p class="description">Software a la medida de sus necesidades en varias plataformas.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-user-secret"></i></a></div>
                    <h4 class="title"><a href="">Seguridad y Respaldos</a></h4>
                    <p class="description">Buen uso de respaldo, buenas prácticas, reportes, controles, y otros.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-suitcase"></i></a></div>
                    <h4 class="title"><a href="">Sitios Web Empresariales</a></h4>
                    <p class="description">Sitios web adaptables a las necesidades de su empresa.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="box">
                    <div class="icon"><a href=""><i class="fa fa-print"></i></a></div>
                    <h4 class="title"><a href="">Facturación Electrónica</a></h4>
                    <p class="description">Contamos con varias opciones según sus necesidades.</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- #services -->


<!--==========================
    Platform To Action Section
    ============================-->
<section id="platform-to-action">
    <div class="container wow fadeIn">
        <div class="section-header">
            <h3 class="section-title section-title1">Plataformas</h3>
        </div>
        <div class="row p-platform">
            <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                <div class="platform-column">
                    <img src="assets/img/platform/win.png" alt="">
                    <h6 class="cta-title">Plataforma Windows</h6>
                    <p class="cta-text"> Son aplicaciones que funcionan dentro del sistema operativo
                    Windows en cualquiera de sus  versiones.</p>
                </div>
                
            </div>
            <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                <div class="platform-column">
                    <img src="assets/img/platform/web.png" alt="">
                    <h6 class="cta-title">Platforma Web</h6>
                    <p class="cta-text"> Son aplicaciones de ultima generación que permiten acceder
                     a las aplicaciones a través de cualquier navegador web con una URL preferida
                     y desde cualquier sistema operativo.</p>
                </div>
            </div>
            <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                <div class="platform-column">
                    <img src="assets/img/platform/cel.png" alt="">
                    <h6 class="cta-title">Platforma Celular</h6>
                    <p class="cta-text"> Son aplicaciones que funcionan únicamente desde un celular,
                     popularmente conocidas como "APP".</p>
                </div>
            </div>
            <div class="col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                <div class="platform-column">
                    <img src="assets/img/platform/cloud.png" alt="">
                    <h6 class="cta-title">Middleware</h6>
                    <p class="cta-text"> Son aplicaciones que actúan de intermediarias entre dos 
                    o más aplicaciones transportando información a través de WebServices de 
                    forma unidireccional o bidireccional.</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- #call-to-action -->