
    <!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title section-title2">Equipo de Trabajo</h3>
            <p class="section-description section-description2">Conozca a nuestros encargados de las divisiones de software y servicios</p>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="member">
                <div class="pic"><img src="assets/img/team-1.jpg" alt=""></div>
                <h4>Ruben Ramos</h4>
                <span>Director - Deasrrollo de Software</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="member">
                <div class="pic"><img src="assets/img/team-2.jpg" alt=""></div>
                <h4>Abraham Quispe</h4>
                <span>Director - Servicios TI</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="member">
                <div class="pic"><img src="assets/img/team-3.jpg" alt=""></div>
                <h4>Carlos Taco</h4>
                <span>Director - Desarrollo Móvil</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
  
        </div>
      </section><!-- #team -->
  
