<!--==========================
      Brands Programing
    ============================-->
<section id="brands" class="wow fadeInUp">
  <div class="container">

    <div class="section-header">
      <h3 class="section-title section-title2">Desarrollo a medida</h3>
    </div>

    <div id="brands-container" class="owl-carousel brands-carousel">
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/docker.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/java.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/laravel.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/mysql.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/unity.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/oracle.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/mongo.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/spring.png" alt=""></div>
      </div>        
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/c.png" alt=""></div>
      </div>  
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/github.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/mariadb.png" alt=""></div>
      </div>    
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/rnative.png" alt=""></div>
      </div>   
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/kubernetes.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/node.png" alt=""></div>
      </div>    
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/postgres1.png" alt=""></div>
      </div>    
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/react.png" alt=""></div>
      </div>    
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/python.png" alt=""></div>
      </div>
      <div class="item">
        <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/img/logo_code/nginx.png" alt=""></div>
      </div>
    </div>

  </div>
</section><!-- #clients -->